<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Registration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Registration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Registration.My.MySettings.ChannelsDigitalOutputConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Store\ChannelsDigitalOutput.mdb"
      providerName="System.Data.OleDb" />
    <add name="Registration.My.MySettings.Channels_cfg_lmzConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Project\Saturn\Work\tcp_client_InSys_sbk_LMZ\TCP_Client\TCP_Client\bin\Debug\Resource\Channels_cfg_lmz.mdb"
      providerName="System.Data.OleDb" />
    <add name="Registration.My.MySettings.ChannelsConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Store\Channels.mdb"
      providerName="System.Data.OleDb" />
    <add name="Registration.My.MySettings.ChannelsConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\x86\Debug\Store\Channels.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          
		  <!--<dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-17.5.40.49153" newVersion="17.5.40.49153"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!--add key="CalculationAssemblyFilename" value="G:\DiskD\ПрограммыVBNET\Registration\bin\Ресурсы\ПодсчетПараметровЦентробежногоКомпрессора\CalculationCompressionDLLDotNet.NET\bin\CalculationCompressionDLLDotNet.dll"/-->
    <!--add key="CalculationClassName" value="CalculationCompressionDLLDotNet.ClassCalculation"/-->
    <!--add key="DiagramClassName" value="CalculationCompressionDLLDotNet.ClassDiagram"/-->
    <!--add key="clsСвойстваName" value="CalculationCompressionDLLDotNet.clsСвойства"/-->
    <!--add key="ClientSettingsProvider.ServiceUri" value=""/-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <Registration.My.MySettings>
      <setting name="GridSplitterPos" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="GridCollectFormSize" serializeAs="String">
        <value>570, 387</value>
      </setting>
      <setting name="GridCollectFormLocation" serializeAs="String">
        <value>317, 304</value>
      </setting>
      <setting name="GridCollectFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TabPanelFormSize" serializeAs="String">
        <value>570, 387</value>
      </setting>
      <setting name="TabPanelFormLocation" serializeAs="String">
        <value>317, 304</value>
      </setting>
      <setting name="TabPanelFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TargetGridCollectFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="TargetGridCollectFormLocation" serializeAs="String">
        <value>293, 226</value>
      </setting>
      <setting name="TargetGridCollectFormSize" serializeAs="String">
        <value>517, 584</value>
      </setting>
    </Registration.My.MySettings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Registration.My.MySettings>
      <setting name="NamberSSDList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>11</string>
            <string>13</string>
            <string>15</string>
          </ArrayOfString>
        </value>
      </setting>
    </Registration.My.MySettings>
  </applicationSettings>
</configuration>
